In [221]:
import chromedriver_binary
from selenium import webdriver
from time import sleep
import openpyxl
import pandas as pd
import unicodedata
import re
import datetime
import numpy as np
# from scraping import Scraping
# from scraping_detail_data import Scraping_detail

In [2]:
scraping = Scraping()
df = scraping.get_data()

In [3]:
detail = Scraping_detail()
detail_df = detail.get_detail_data()

In [4]:
df.to_csv("cow_data.csv")

In [5]:
detail_df.to_csv("cow_detail_data.csv")

In [4]:
df = pd.read_csv("cow_data.csv")

In [5]:
detail_df = pd.read_csv("cow_detail_data.csv")

In [6]:
detail_df = detail_df.rename(columns={'母の祖々父': '母の祖祖父'})

In [16]:
df = df.drop(columns=['Unnamed: 0'])
detail_df = detail_df.drop(columns=['Unnamed: 0'])

In [17]:
df["年月日"] = pd.to_datetime(df["年月日"])

In [18]:
detail_df["年月日"] = pd.to_datetime(detail_df["年月日"])

In [21]:
detail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29990 entries, 0 to 29989
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   入場      29990 non-null  int64
 1   品種      29990 non-null  object
 2   名号      29836 non-null  object
 3   期待育種価   17330 non-null  object
 4   耳標番号    29637 non-null  object
 5   資格      29990 non-null  object
 6   性別      29990 non-null  object
 7   生年月日    29990 non-null  int64
 8   日令      29990 non-null  int64
 9   父牛      29990 non-null  object
 10  母の父     29990 non-null  object
 11  母の祖父    29990 non-null  object
 12  母の祖祖父   29990 non-null  object
 13  母牛名号    29990 non-null  object
 14  母資格     29990 non-null  object
 15  登録番号    29952 non-null  float64
 16  得点      29952 non-null  float64
 17  母牛生年    29988 non-null  object
 18  産次      27232 non-null  float64
 19  備考1     10884 non-null  object
 20  備考2     776 non-null    object
 21  生産者住所   29990 non-null  object
 22  氏名      29990 non-null  object
 23  主要飼料名1  29990 non-null  object
 24  主要飼料名2  29956 non-null  object
 25  主要飼料名3  29969 non-null  object
 26  年月日     29990 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(3), object(20)
memory usage: 6.2+ MB

In [69]:
detail_df = detail_df.dropna(axis=1)

In [75]:
detail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29990 entries, 0 to 29989
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   入場      29990 non-null  int64
 1   品種      29990 non-null  object
 2   資格      29990 non-null  object
 3   性別      29990 non-null  object
 4   生年月日    29990 non-null  int64
 5   日令      29990 non-null  int64
 6   父牛      29990 non-null  object
 7   母の父     29990 non-null  object
 8   母の祖父    29990 non-null  object
 9   母の祖祖父   29990 non-null  object
 10  母牛名号    29990 non-null  object
 11  母資格     29990 non-null  object
 12  生産者住所   29990 non-null  object
 13  氏名      29990 non-null  object
 14  主要飼料名1  29990 non-null  object
 15  年月日     29990 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 3.7+ MB

In [234]:
for i in range(len(detail_df)):
    detail_search_df = df[(df["父牛"]==detail_df["父牛"][i]) & (df["母の父"]==detail_df["母の父"][i]) & (df["母の祖父"]==detail_df["母の祖父"][i]) & (df["母の祖祖父"]==detail_df["母の祖祖父"][i]) & (df["日令"]==detail_df["日令"][i]) & (df["性別"]==detail_df["性別"][i]) & (df["年月日"]==detail_df["年月日"][i])]
    if len(detail_search_df) == 1:
        detail_numpy = detail_df.to_numpy()
        detail_part = detail_numpy[[i]]
        serch_numpy = detail_search_df.to_numpy()
        if i == 0:
            farst_numpy = np.hstack((detail_part,serch_numpy))
        else:
            second_numpy = np.hstack((detail_part,serch_numpy))
            farst_numpy = np.vstack((farst_numpy, second_numpy))
farst_numpy

array([[1, '黒毛', '登', ..., 299, 891000, Timestamp('2022-04-07 00:00:00')],
       [2, '黒毛', '登', ..., 233, 583000, Timestamp('2022-04-07 00:00:00')],
       [3, '黒毛', '登', ..., 284, 711700, Timestamp('2022-04-07 00:00:00')],
       ...,
       [575, '黒毛', '登', ..., 334, 848100,
        Timestamp('2021-03-12 00:00:00')],
       [576, '黒毛', '登', ..., 274, 550000,
        Timestamp('2021-03-12 00:00:00')],
       [581, '黒毛', '登', ..., 315, 532400,
        Timestamp('2021-03-12 00:00:00')]], dtype=object)

In [235]:
detail_pandas = pd.DataFrame(farst_numpy)

In [240]:
detail_pandas

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,黒毛,登,去勢,44380,278,福之姫,百合白清２,安福久,平茂勝,...,2022-04-07,去勢,福之姫,百合白清２,安福久,平茂勝,278,299,891000,2022-04-07
1,2,黒毛,登,雌,44367,291,福之姫,光平照,平茂幸,谷川,...,2022-04-07,雌,福之姫,光平照,平茂幸,谷川,291,233,583000,2022-04-07
2,3,黒毛,登,雌,44387,271,福之姫,安福勝,茂勝栄,鶴長,...,2022-04-07,雌,福之姫,安福勝,茂勝栄,鶴長,271,284,711700,2022-04-07
3,4,黒毛,登,雌,44361,297,美津照重,福之姫,安茂勝,福谷福,...,2022-04-07,雌,美津照重,福之姫,安茂勝,福谷福,297,284,715000,2022-04-07
4,5,黒毛,登,去勢,44406,252,福之姫,隆之国,安福久,百合茂,...,2022-04-07,去勢,福之姫,隆之国,安福久,百合茂,252,296,902000,2022-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26145,572,黒毛,登,雌,43975,292,若百合,美国桜,平茂勝,福栄,...,2021-03-12,雌,若百合,美国桜,平茂勝,福栄,292,267,688600,2021-03-12
26146,574,黒毛,登,雌,44010,257,福増,安福久,平茂勝,糸福（大）,...,2021-03-12,雌,福増,安福久,平茂勝,糸福（大）,257,304,519200,2021-03-12
26147,575,黒毛,登,去勢,43971,296,秋忠平,勝忠平,美津福,隆桜,...,2021-03-12,去勢,秋忠平,勝忠平,美津福,隆桜,296,334,848100,2021-03-12
26148,576,黒毛,登,雌,43984,283,花久勝,金光幸,金幸,平茂勝,...,2021-03-12,雌,花久勝,金光幸,金幸,平茂勝,283,274,550000,2021-03-12
26149,581,黒毛,登,雌,43936,331,華春久,栄冠,安平幸,糸福（鹿）,...,2021-03-12,雌,華春久,栄冠,安平幸,糸福（鹿）,331,315,532400,2021-03-12

In [267]:
column_list = []
for i  in detail_df.columns:
    column_list.append(i)

In [279]:
name_list = ["父牛","母の父","母の祖父","母の祖祖父","性別","日令","年月日"]
for i in name_list:
    name_index = column_list.index(i)
    column_list[name_index] = 1

In [280]:
column_list

['入場',
 '品種',
 '資格',
 1,
 '生年月日',
 1,
 1,
 1,
 1,
 1,
 '母牛名号',
 '母資格',
 '生産者住所',
 '氏名',
 '主要飼料名1',
 1]

In [281]:
for i in df.columns:
    column_list.append(i)

In [282]:
column_list

['入場',
 '品種',
 '資格',
 1,
 '生年月日',
 1,
 1,
 1,
 1,
 1,
 '母牛名号',
 '母資格',
 '生産者住所',
 '氏名',
 '主要飼料名1',
 1,
 '性別',
 '父牛',
 '母の父',
 '母の祖父',
 '母の祖祖父',
 '日令',
 '体重',
 '価格',
 '年月日']

In [283]:
detail_pandas.columns = column_list

In [284]:
detail_pandas.columns

Index([    '入場',     '品種',     '資格',        1,   '生年月日',        1,        1,
              1,        1,        1,   '母牛名号',    '母資格',  '生産者住所',     '氏名',
       '主要飼料名1',        1,     '性別',     '父牛',    '母の父',   '母の祖父',  '母の祖祖父',
           '日令',     '体重',     '価格',    '年月日'],
      dtype='object')

In [285]:
detail_pandas

,入場,品種,資格,1,生年月日,1,1,1,1,1,...,1,性別,父牛,母の父,母の祖父,母の祖祖父,日令,体重,価格,年月日
0,1,黒毛,登,去勢,44380,278,福之姫,百合白清２,安福久,平茂勝,...,2022-04-07,去勢,福之姫,百合白清２,安福久,平茂勝,278,299,891000,2022-04-07
1,2,黒毛,登,雌,44367,291,福之姫,光平照,平茂幸,谷川,...,2022-04-07,雌,福之姫,光平照,平茂幸,谷川,291,233,583000,2022-04-07
2,3,黒毛,登,雌,44387,271,福之姫,安福勝,茂勝栄,鶴長,...,2022-04-07,雌,福之姫,安福勝,茂勝栄,鶴長,271,284,711700,2022-04-07
3,4,黒毛,登,雌,44361,297,美津照重,福之姫,安茂勝,福谷福,...,2022-04-07,雌,美津照重,福之姫,安茂勝,福谷福,297,284,715000,2022-04-07
4,5,黒毛,登,去勢,44406,252,福之姫,隆之国,安福久,百合茂,...,2022-04-07,去勢,福之姫,隆之国,安福久,百合茂,252,296,902000,2022-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26145,572,黒毛,登,雌,43975,292,若百合,美国桜,平茂勝,福栄,...,2021-03-12,雌,若百合,美国桜,平茂勝,福栄,292,267,688600,2021-03-12
26146,574,黒毛,登,雌,44010,257,福増,安福久,平茂勝,糸福（大）,...,2021-03-12,雌,福増,安福久,平茂勝,糸福（大）,257,304,519200,2021-03-12
26147,575,黒毛,登,去勢,43971,296,秋忠平,勝忠平,美津福,隆桜,...,2021-03-12,去勢,秋忠平,勝忠平,美津福,隆桜,296,334,848100,2021-03-12
26148,576,黒毛,登,雌,43984,283,花久勝,金光幸,金幸,平茂勝,...,2021-03-12,雌,花久勝,金光幸,金幸,平茂勝,283,274,550000,2021-03-12
26149,581,黒毛,登,雌,43936,331,華春久,栄冠,安平幸,糸福（鹿）,...,2021-03-12,雌,華春久,栄冠,安平幸,糸福（鹿）,331,315,532400,2021-03-12

In [291]:
detail_pandas = detail_pandas.drop(columns=[1])

In [293]:
detail_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26150 entries, 0 to 26149
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   入場      26150 non-null  object
 1   品種      26150 non-null  object
 2   資格      26150 non-null  object
 3   生年月日    26150 non-null  object
 4   母牛名号    26150 non-null  object
 5   母資格     26150 non-null  object
 6   生産者住所   26150 non-null  object
 7   氏名      26150 non-null  object
 8   主要飼料名1  26150 non-null  object
 9   性別      26150 non-null  object
 10  父牛      26150 non-null  object
 11  母の父     26150 non-null  object
 12  母の祖父    26150 non-null  object
 13  母の祖祖父   26150 non-null  object
 14  日令      26150 non-null  object
 15  体重      26150 non-null  object
 16  価格      26150 non-null  object
 17  年月日     26150 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(17)
memory usage: 3.6+ MB

0        44380
1        44367
2        44387
3        44361
4        44406
         ...
26145    43975
26146    44010
26147    43971
26148    43984
26149    43936
Name: 生年月日, Length: 26150, dtype: object